*{
    box-sizing:border-box;
}

.body{
    font-family: arial;
    margin: 0%;
}


nav{
    display: flex;
    text-align: end;
    flex-direction: row;
    justify-content: end;
    
}

.card {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 40px;
    text-align: start;
    background: grey;
    color: white;
    display: flex;
    justify-content: space-between;
}

.title{
    display: flex;
    padding: 50px;
    background: rgb(218, 28, 28);
    justify-content: end;
}

.about{
    display: flex;
    padding: 50px;
    background: blue;
}

.ul{
    display: flex;
}

